{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Host=;Port=;Database=;Username=;Password="
  },
  "ApiSettings": {
    "TheMovieDbApiKey": ""
  },
  "MomoAPI": {
    "MomoApiUrl": "https://test-payment.momo.vn/gw_payment/transactionProcessor",
    "SecretKey": "",
    "AccessKey": "",
    "ReturnUrl": "https://localhost:7263/api/payments/momo/callback",
    "NotifyUrl": "https://localhost:7263/api/payments/momo/notify",
    "PartnerCode": "MOMO",
    "RequestType": "captureMoMoWallet"
  },
  "JwtConfig": {
    "Secret": "",
    "Issuer": "https://localhost:7263",
    "Audience": "https://localhost:5173"
  },
  "GoogleConfig": {
    "ClientId": ""
  },
  "MailSettings":
  {
    "Host": "smtp.gmail.com",
    "Port": 587,
    "Email": "",
    "Password": ""
  }
}
