{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=BCinemaDB;Username=postgres;Password=password"
  },
  "ApiSettings": {
    "TheMovieDbApiKey": "your_api_key_here"
  }
}
